;:root{
  --cor-texto-geral: black;
  --cor-background-principal: #e7e7e7;
  --cor-background-secundario: white;
  --cor-destaque: #ee2211;
  --cor-destaque-efeito: #900;
}

body {
  color: var(--cor-texto-geral);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.25rem;
  background-color: var(--cor-background-principal);
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--cor-background-principal);
}


footer {
  background-color: var(--cor-background-secundario);
  padding: 3rem;
}