body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.25rem;
  background-color: #f7f7f7;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

header {
  text-align: center;
}

.display {
  max-width: 1000px;
  margin: auto;
}

footer {
  background-color: white;
  text-align: center;
  padding: 3rem;
}