:root {
  --cor-texto-geral: #000;
  --cor-background-principal: #e7e7e7;
  --cor-background-secundario: #fff;
  --cor-destaque: #e21;
  --cor-destaque-efeito: #900;
}

body {
  color: var(--cor-texto-geral);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.25rem;
  background-color: var(--cor-background-principal);
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--cor-texto-geral);
}


footer {
  background-color: var(--cor-background-secundario);
  padding: 3rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    --cor-texto-geral: #f3f1ee;
    --cor-background-principal: #313338;
    --cor-background-secundario: #2B2D31;
  }
}