
.fotoBicicleta {
  max-width: 500px;
}

.nomeProduto::before {
  content: "";
  display: block;
  width: 60px;
  height: 4px;
  background-color: #ee2211;
  position: relative;
  left: 362px;
  top: -40px;
}

.secao {
  max-width: 1000px;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.nomeProduto {
  font-size: 2rem;
}

.botao {
  background-color: #ee2211;
  border-radius: 4px;
  color: white;
  padding: 1rem 2rem;
  text-transform: uppercase;
}

.botao:hover {
  background-color: #900;
}

.produto {
  background-color: white;
  display: grid;
  gap: 20px;
  align-content: center;
  justify-items: end;
  padding: 2.5rem;
  text-align: end;
}

.vantagensBikcraft {
  color: rgba(0, 0, 0, 0.2);
  font-size: 4rem;
  text-align: right;
  align-self: center;
  text-transform: uppercase;
  padding: 2.5rem;
} 

.vantagens {
  background-color: white;
  padding: 2rem;
}

.grupoVantagens:nth-child(odd){
  background-color: #f7f7f7;
}

.nomeVantagens {
  font-weight: bold;
}

.grupoVantagens {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 10px;
  padding: 1rem;
}

.grupoVantagens:hover {
  border-left: 4px solid #ee2211;
}

.descricaoVantagens {
  grid-column: 2;
}