.fotoBicicleta {
  max-width: 500px;
}

.nomeProduto::before {
  content: "";
  display: block;
  width: 60px;
  height: 4px;
  background-color: var(--cor-destaque);
  position: relative;
  left: 362px;
  top: -40px;
}

.secao {
  max-width: 1000px;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
}

.nomeProduto {
  font-size: 2rem;
}

.botao {
  background-color: var(--cor-destaque);
  border-radius: 4px;
  padding: 1rem 2rem;
  text-transform: uppercase;
}

.botao:hover {
  background-color: var(--cor-destaque-efeito);
}

.produto {
  background-color: var(--cor-background-secundario);
  display: grid;
  gap: 20px;
  align-content: center;
  justify-items: end;
  padding: 2.5rem;
  text-align: end;
}

.vantagensBikcraft {
  color: rgba(0, 0, 0, 0.4);
  font-size: 4rem;
  text-align: right;
  align-self: center;
  text-transform: uppercase;
  padding: 1.9rem;
  background-image: url("/assets/img/onda.svg");
} 

.vantagens {
  background-color: var(--cor-background-secundario);
  padding: 2rem;
}

.grupoVantagens:nth-child(odd){
  background-color: var(--cor-background-principal);
}

.nomeVantagens {
  font-weight: bold;
}

.grupoVantagens {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 10px;
  padding: 1rem;
}

.grupoVantagens:hover {
  border-left: 4px solid var(--cor-destaque);
}

.descricaoVantagens {
  grid-column: 2;
}

@media (max-width: 1000px) {

  .secao {
    max-width: 500px;
    grid-template-columns: 1fr;
  }

  .nomeProduto::before {
    left: 0px;
    top: 0px;
  }

  .fotoBicicleta {
    max-width: 100%;
  }

}

@media (max-width: 500px) {
  .secao {
    grid-template-columns: auto;
  }
  .fotoBicicleta {
    max-width: auto;
  }
  .vantagensBikcraft {
    font-size: 3rem;
  } 
  footer{
    background-color: var(--cor-background-principal);
  } 
}

@media (max-width: 400px){
  .secao {
    font-size: 1rem;
  }
  .vantagensBikcraft {
    font-size: 2rem;
  }
  .vantagens {
    padding: 0;
    font-size: 1rem;
  }
  footer{
    background-color: var(--cor-background-secundario);
  } 
}